body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

#timer {
    margin: 20px 0;
}

.btn {
    width: 100px;
}

#recordedTimes {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.list-group-item {
    background-color: #fff;
    color: #343a40;
}
